@font-face {
  font-family: "IntroBold";
  src: url(./fonts/IntroBold.otf);
}

@font-face {
  font-family: "MuseoSans";
  src: url(./fonts/MuseoSans.otf);
}

/* DESKTOP CSS */
.nav {
  border-color: rgb(198,189,160);
  border-bottom-style: solid;
  padding: none;
}

/* MeetMindful logo container */
.logo {
  padding: 0px;
}

/* Desktop logo */
.full {
  width: 20%;
  padding: 5px;
  margin-left: 25px;
}

/* Mobile logo */
.small{
   display: none;
}

.nav a[href^="https://"], a[href^="/blog"], a[href^="/about"] {
  color: rgb(184, 164, 121);
  text-decoration: none;
  position: relative;
  left: 600px;
  bottom: 30px;
  padding: 15px;
  font-family: "MuseoSans", Times, serif;
  font-size: 25px;
}

.heading {
  width: auto;
  height: 700px;
  background-image: url("./img/splash.jpg");
  background-position: 50% 70%;
  background-repeat: no-repeat;
  padding: none;
}

.heading h1,h2 {
  font-family: "IntroBold", Times, serif;
  position: relative;
  top: 180px;
  text-align: center;
}
.heading h1 {
  color: rgb(141, 140, 158);
  font-size: 50px;
  line-height: 1px;
}
.heading h2 {
  color: rgb(101, 105, 138);
  text-transform: lowercase;
  /* text-align: center; */
}

.features {
  position:absolute;
  width: 100%;
  height: 300px;
}

.features > div{
  float: right;
  margin: 10px;
}

.feature {
  width:250px;
  height:200px;
  padding: 70px;
  border-right-style: solid;
}

.feature h3 {
  font-family: "IntroBold", Times, serif;
  text-align: center;
  font-size: 28px;
}

.feature p {
  font-family: "MuseoSans", Times, serif;
  text-align: justify;
}


/* MEDIA QUERY FOR NAV IMAGES */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .nav {
      border-color: rgb(198,189,160);
      border-bottom-style: solid;
    }

    .nav a[href^="https://"], a[href^="/"] {
      color: rgb(184, 164, 121);
      text-decoration: none;
      text-align: right;
      padding: 15px;
      /* font-family: "Museo Sans", Times, serif; */
      font-size: 65px;
    }

    /* Desktop logo */
    .full{
      display: none;
    }

    /* Mobile logo */
    .small{
      display: block;
      width: 8%;
      padding: 10px;
    }

}
